<!DOCTYPE html>
<html>

<body>
    <header>
        <div class="Container">
            <h1 class="Logo"> SharkCam Main Menu</h1>
            <strong>
                <nav>

                    <ul class="Menu">
                        <li><a href={{ url_for('controls') }}>Robot Controls</a></li>
                        <li><a href={{ url_for('photoViewer') }}>Photo Viewer</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
</body>

</html>