
# Environments
.env
.venv
env/
venv/
microenv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

*.vs/
*.vscode/
*.pyproj
*.pyproj.user

/.vs/automation-development/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/PythonSettings.json
/.vs/slnx.sqlite

.vscode/launch.json
.vscode/settings.json

# Files
dev_mode
*-api-key.json
dev_mode
secrets.txt
/bdp/requirements.txt
*config_file.conf
*major.log
sanity/logs*
*rsa_keys

sanity/pytest-logs*
sanity/configs/run_config.json
*temp_files*
/common/passmanager/passmanager_config.json

gui/battery/boc_mac_list.json
common/
*mqtt_client.log
*tar.gz
map*
/testing
*.idea*
*pi_media*
*pi_codebase*

reports/*
assets/
*report*.html